<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="flexcol">
            <div class="flexrow">
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
                <div class="header-fields">
                    <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
                    {{!-- The grid classes are defined in scss/global/_grid.scss. To use, use both the "grid" and "grid-Ncol" class where "N" can be any number from 1 to 12 and will create that number of columns.  --}}
                    {{!-- "flex-group-center" is also defined in the _grid.scss file and it will add a small amount of padding, a border, and will center all of its child elements content and text. --}}
                    {{!-- The grid classes are defined in scss/global/_grid.scss. To use, use both the "grid" and "grid-Ncol" class where "N" can be any number from 1 to 12 and will create that number of columns.  --}}
                    <div class="traits grid-2row">
                        {{#each data.traits as |trait key|}}
                        <div class="trait flexrow flex-group-center">
                            <label for="data.traits.{{key}}.dice" class="resource-label">{{trait.usedTitle}}</label>
                            <input type="text" name="data.traits.{{key}}.dice" value="{{trait.dice}}" data-dtype="String" onfocus="this.select();" />
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="flexrow flex-center">
                {{#if templateHelp.showDirectoryOptions}}
                <div class="flexrow flex-group-center" title="{{localize "ironclaw2e.sheets.actor.applyWildcardTemplateTooltip"}}">
                    <label class="normal-label">{{localize "ironclaw2e.sheets.actor.applyWildcardTemplate"}}</label>
                    <input class="tinybox" type="checkbox" name="data.applyTemplateOnSpawn" {{checked data.applyTemplateOnSpawn}} data-dtype="Boolean" />
                </div>
                {{/if}}
                <div class="rollable roll-order flex-group-center">
                    <span class="normal-label">{{localize "ironclaw2e.sheets.actor.openDicePool"}}</span>
                </div>
                <div class="rollable roll-damage flex-group-center">
                    <span class="normal-label">{{localize "ironclaw2e.sheets.actor.applyDamage"}}</span>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "ironclaw2e.sheets.actor.description"}}</a>
        <a class="item" data-tab="skills">{{localize "ironclaw2e.sheets.actor.details.title"}}</a>
        <a class="item" data-tab="battlestats">{{localize "ironclaw2e.sheets.actor.battleStatistics"}}</a>
        <a class="item" data-tab="statuseffects">{{localize "ironclaw2e.sheets.actor.status.title"}}</a>
        <a class="item" data-tab="gifts">{{localize "ironclaw2e.sheets.actor.gear.gifts"}}</a>
        <a class="item" data-tab="weapons">{{localize "ironclaw2e.sheets.actor.combatGear"}}</a>
        <a class="item" data-tab="items">{{localize "ironclaw2e.sheets.actor.gear.items"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Battle Stats Tab --}}
        <div class="tab battlestats" data-group="primary" data-tab="battlestats">
            {{> 'systems/ironclaw2e/templates/parts/battlestats.html'}}
        </div>

        {{!-- Status Effects Tab --}}
        <div class="tab statuseffects" data-group="primary" data-tab="statuseffects">
            {{> 'systems/ironclaw2e/templates/parts/statuseffects.html'}}
        </div>

        {{!-- Skills Tab --}}
        <div class="tab skills" data-group="primary" data-tab="skills">
            {{> 'systems/ironclaw2e/templates/parts/details.html'}}
        </div>

        {{!-- Owned Gifts Tab --}}
        <div class="tab gifts" data-group="primary" data-tab="gifts">
            {{> 'systems/ironclaw2e/templates/parts/gifts.html'}}
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            {{> 'systems/ironclaw2e/templates/parts/items.html'}}
        </div>

        {{!-- Owned Combat Gear Tab --}}
        <div class="tab weapons" data-group="primary" data-tab="weapons">
            {{> 'systems/ironclaw2e/templates/parts/combatgear.html'}}
        </div>

    </section>
</form>

