<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="flexcol">
            <div class="flexrow">
                <img class="profile-img-char" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="150" />
                <div class="header-fields">
                    <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
                    {{!-- The grid classes are defined in scss/global/_grid.scss. To use, use both the "grid" and "grid-Ncol" class where "N" can be any number from 1 to 12 and will create that number of columns.  --}}
                    {{!-- "flex-group-center" is also defined in the _grid.scss file and it will add a small amount of padding, a border, and will center all of its child elements content and text. --}}
                    {{!-- The grid classes are defined in scss/global/_grid.scss. To use, use both the "grid" and "grid-Ncol" class where "N" can be any number from 1 to 12 and will create that number of columns.  --}}
                    <div class="traits grid-2row">
                        {{#each data.traits as |trait key|}}
                        <div class="trait flexrow flex-group-center">
                            <label for="data.traits.{{key}}.dice" class="resource-label">{{trait.usedTitle}}</label>
                            <input type="text" name="data.traits.{{key}}.dice" value="{{trait.dice}}" data-dtype="String" onfocus="this.select();" />
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="flexrow flex-center">
                <div class="flexrow flex-group-center flex-tight" width="200">
                    <label for="data.experience" class="resource-label">{{localize "ironclaw2e.sheets.actor.experience"}}</label>
                    <input type="text" name="data.experience" value="{{data.experience}}" data-dtype="Number" />
                </div>
                <div class="rollable roll-order flex-group-center">
                    <span class="normal-label">{{localize "ironclaw2e.sheets.actor.openDicePool"}}</span>
                </div>
                <div class="rollable roll-damage flex-group-center">
                    <span class="normal-label">{{localize "ironclaw2e.sheets.actor.applyDamage"}}</span>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "ironclaw2e.sheets.actor.biography"}}</a>
        <a class="item" data-tab="skills">{{localize "ironclaw2e.sheets.actor.details.title"}}</a>
        <a class="item" data-tab="battlestats">{{localize "ironclaw2e.sheets.actor.battleStatistics"}}</a>
        <a class="item" data-tab="statuseffects">{{localize "ironclaw2e.sheets.actor.status.title"}}</a>
        <a class="item" data-tab="gifts">{{localize "ironclaw2e.sheets.actor.gear.gifts"}}</a>
        <a class="item" data-tab="weapons">{{localize "ironclaw2e.sheets.actor.combatGear"}}</a>
        <a class="item" data-tab="items">{{localize "ironclaw2e.sheets.actor.gear.items"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            <div class="flex-group flex-tight flexcol">
                <div class="flexrow">
                    <label class="header-label" style="max-width:100px">{{localize "ironclaw2e.sheets.actor.motto"}}</label>
                    <input class="center-text" type="text" name="data.motto" value="{{data.motto}}" data-dtype="String" />
                </div>
            </div>
            <div class="flex-group flex-tight flexcol">
                <div class="flexrow">
                    <label class="header-label" style="max-width:100px">{{localize "ironclaw2e.sheets.actor.goal" number="1"}}</label>
                    <input class="center-text" type="text" name="data.goal1" value="{{data.goal1}}" data-dtype="String" />
                </div>
                <div class="flexrow">
                    <label class="header-label" style="max-width:100px">{{localize "ironclaw2e.sheets.actor.goal" number="2"}}</label>
                    <input class="center-text" type="text" name="data.goal2" value="{{data.goal2}}" data-dtype="String" />
                </div>
                <div class="flexrow">
                    <label class="header-label" style="max-width:100px">{{localize "ironclaw2e.sheets.actor.goal" number="3"}}</label>
                    <input class="center-text" type="text" name="data.goal3" value="{{data.goal3}}" data-dtype="String" />
                </div>
            </div>
            <div style="height:calc(100% - 120px)">{{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}</div>
        </div>

        {{!-- Battle Stats Tab --}}
        <div class="tab battlestats" data-group="primary" data-tab="battlestats">
            {{> 'systems/ironclaw2e/templates/parts/battlestats.html'}}
        </div>

        {{!-- Status Effects Tab --}}
        <div class="tab statuseffects" data-group="primary" data-tab="statuseffects">
            {{> 'systems/ironclaw2e/templates/parts/statuseffects.html'}}
        </div>

        {{!-- Skills Tab --}}
        <div class="tab skills" data-group="primary" data-tab="skills">
            {{> 'systems/ironclaw2e/templates/parts/details.html'}}
        </div>

        {{!-- Owned Gifts Tab --}}
        <div class="tab gifts" data-group="primary" data-tab="gifts">
            {{> 'systems/ironclaw2e/templates/parts/gifts.html'}}
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            {{> 'systems/ironclaw2e/templates/parts/items.html'}}
        </div>

        {{!-- Owned Combat Gear Tab --}}
        <div class="tab weapons" data-group="primary" data-tab="weapons">
            {{> 'systems/ironclaw2e/templates/parts/combatgear.html'}}
        </div>

    </section>
</form>

