<div class="ironclaw2e">
    <header class="chat-item flexrow">
        <img class="item-image" src="{{item.img}}" title="{{item.name}}" width="30" height="30" />
        <h3 class="chat-header">{{item.name}}</h3>
    </header>
    <div class="chat-content">
        <div class="chat-item item-description">{{{itemData.description}}}</div>
        <div class="chat-item item-statistics">
            {{#if (typeCheck item.type "gift")}}
            <p><strong>{{localize "ironclaw2e.chatInfo.itemInfo.tags"}}:</strong> {{itemData.giftTags}}</p>
            <p>
                <strong>{{localize "ironclaw2e.chatInfo.itemInfo.refresh"}}:</strong> {{itemData.refresh}}, <strong>{{localize "ironclaw2e.chatInfo.itemInfo.exhausted"}}:</strong>
                {{#if itemData.exhaustWhenUsed}}{{#if itemData.exhausted}} {{localize "ironclaw2e.yes"}}{{else}}{{localize "ironclaw2e.no"}}{{/if}}{{else}}{{localize "ironclaw2e.never"}}{{/if}}
            </p>
            {{#if itemData.grantsMark}}<p>
                <strong>{{localize "ironclaw2e.chatInfo.itemInfo.grantsMark"}}:</strong> {{itemData.markSkill}}
            </p>{{/if}}
            {{/if}}
            {{#if (typeCheck item.type "extraCareer")}}
            <p><strong>{{localize "ironclaw2e.chatInfo.itemInfo.name"}}:</strong> {{itemData.careerName}}</p>
            <p><strong>{{localize "ironclaw2e.chatInfo.itemInfo.dice"}}:</strong> {{itemData.dice}}</p>
            <p><strong>{{localize "ironclaw2e.chatInfo.itemInfo.skills"}}:</strong> {{itemData.careerSkill1}}, {{itemData.careerSkill2}}, {{itemData.careerSkill3}}</p>
            {{/if}}
            {{#if (typeCheck item.type "weapon")}}
            <p><strong>{{localize "ironclaw2e.chatInfo.itemInfo.effect"}}:</strong> {{itemData.effect}}</p>
            <p><strong>{{localize "ironclaw2e.chatInfo.itemInfo.descriptors"}}:</strong> {{itemData.descriptors}}</p>
            <p>
                <strong>{{localize "ironclaw2e.chatInfo.itemInfo.equip"}}:</strong> {{equipHandedness}},
                <strong>{{localize "ironclaw2e.chatInfo.itemInfo.range"}}:</strong> {{equipRange}}
            </p>
            {{#if itemData.exhaustGift}}{{#if itemData.exhaustGiftName}}<p><strong>{{localize "ironclaw2e.chatInfo.itemInfo.exhaustGift"}}:</strong> {{itemData.exhaustGiftName}}</p>{{/if}}{{/if}}
            {{#if itemData.attackDice}}<p><strong>{{localize "ironclaw2e.chatInfo.itemInfo.attackDice"}}:</strong> {{itemData.attackDice}}</p>{{/if}}
            {{#if itemData.useSpark}}<p><strong>{{localize "ironclaw2e.chatInfo.itemInfo.sparkDice"}}:</strong> {{itemData.sparkDie}}</p>{{/if}}
            {{#if itemData.defenseDice}}<p><strong>{{localize "ironclaw2e.chatInfo.itemInfo.parryDice"}}:</strong> {{itemData.defenseDice}}</p>{{/if}}
            {{#if itemData.counterDice}}<p><strong>{{localize "ironclaw2e.chatInfo.itemInfo.counterDice"}}:</strong> {{itemData.counterDice}}</p>{{/if}}
            {{#if itemData.hasResist}}<p><strong>{{localize "ironclaw2e.chatInfo.itemInfo.resistWith"}}:</strong> {{itemData.defendWith}} vs. 3</p>{{else}}
            <p><strong>{{localize "ironclaw2e.chatInfo.itemInfo.opposingDefense"}}:</strong> {{localize "ironclaw2e.chatInfo.itemInfo.attack"}} vs. {{itemData.defendWith}}</p>{{/if}}
            {{/if}}
            {{#if (typeCheck item.type "illumination")}}
            <p>
                <strong>{{localize "ironclaw2e.chatInfo.itemInfo.dimLight"}}:</strong> {{itemData.dimLight}}, <strong>{{localize "ironclaw2e.chatInfo.itemInfo.brightLight"}}:</strong> {{itemData.brightLight}},
                <strong>{{localize "ironclaw2e.chatInfo.itemInfo.angle"}}:</strong> {{itemData.lightAngle}}
            </p>
            {{/if}}
            {{#if (typeCheck item.type "armor")}}
            <p>
                <strong>{{localize "ironclaw2e.chatInfo.itemInfo.armorDice"}}:</strong> {{itemData.armorDice}},
                <strong>{{localize "ironclaw2e.chatInfo.itemInfo.worn"}}:</strong> {{#if itemData.worn}}{{localize "ironclaw2e.yes"}}{{else}}{{localize "ironclaw2e.no"}}{{/if}}
            </p>
            {{/if}}
            {{#if (typeCheck item.type "shield")}}
            <p>
                <strong>{{localize "ironclaw2e.chatInfo.itemInfo.coverDie"}}:</strong> {{itemData.coverDie}},
                <strong>{{localize "ironclaw2e.chatInfo.itemInfo.held"}}:</strong> {{#if itemData.held}}{{localize "ironclaw2e.yes"}}{{else}}{{localize "ironclaw2e.no"}}{{/if}}
            </p>
            {{/if}}
        </div>
        {{#if hasButtons}}
        <div class="chat-item button-holder" data-itemid="{{item._id}}" data-actorid="{{actorId}}" data-tokenid="{{tokenId}}" data-sceneid="{{sceneId}}">
            <div class="attack-buttons flexrow">
                <button class="default-attack" data-skipresist="false">{{localize "ironclaw2e.chatInfo.itemInfo.attackWith" name=item.name}}</button>
                {{#if itemData.hasResist}}<button class="skip-attack small-text" style="max-width:4em" title="{{localize "ironclaw2e.chatInfo.itemInfo.attackBasicHint" name=item.name}}" data-skipresist="true">
                    {{localize "ironclaw2e.chatInfo.itemInfo.attackBasic"}}
                </button>{{/if}}
                {{#if itemData.canSpark}}<button class="spark-attack small-text" style="max-width:4em">{{localize "ironclaw2e.chatInfo.itemInfo.attackSpark"}}</button>{{/if}}
            </div>
            {{#if itemData.attackHasTemplate}}
            <div class="template-buttons flexrow">
                <button class="place-template" data-arearange="{{itemData.multiAttackRange}}">{{localize "ironclaw2e.chatInfo.itemInfo.placeTemplate"}}</button>
            </div>
            {{/if}}
            <div class="defense-buttons flexrow" data-defense="{{itemData.defendWith}}" data-hasresist="{{itemData.hasResist}}" data-weaponname="{{item.name}}">
                {{#unless itemData.hasResist}}
                {{#if standardDefense}}
                <button class="dodge-defense" data-defensetype="dodge">{{localize "ironclaw2e.chatInfo.itemInfo.dodgeDefense"}}</button>
                <button class="parry-defense small-text" data-defensetype="parry">{{localize "ironclaw2e.chatInfo.itemInfo.parryDefense"}}</button>
                {{else}}
                <button class="special-defense" data-defensetype="special">{{localize "ironclaw2e.chatInfo.itemInfo.specialDefense"}}</button>
                {{/if}}
                {{/unless}}
                {{#if itemData.hasResist}}{{#unless itemData.attackAutoHits}}
                <button class="resist-defense" data-defensetype="resist">{{localize "ironclaw2e.chatInfo.itemInfo.resistAgainst"}}</button>
                {{/unless}}{{/if}}
                <button class="counter-defense small-text" data-defensetype="counter">{{localize "ironclaw2e.chatInfo.itemInfo.counterDefense"}}</button>
            </div>
        </div>
        {{/if}}
    </div>
</div>