<div class="flexcol">
    <ol class="items-list">
        <li class="item flexrow item-header">
            <div class="item-image"></div>
            <div class="item-name">{{localize "ironclaw2e.sheets.actor.gear.gifts"}}</div>
            <div class="item-controls">
                <a class="item-control item-create" title="{{localize "ironclaw2e.sheets.actor.gear.createItem"}}" data-type="gift"><i class="fas fa-plus"></i> {{localize "ironclaw2e.sheets.actor.gear.addGift"}}</a>
            </div>
        </li>
        {{#each actor.gifts as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
            <h4 class="item-name double-clickable roll-double-info-item">{{item.name}}</h4>
            <div class="item-controls-small">
                {{#if (usableGift item)}}<a class="rollable roll-item" title="{{localize "ironclaw2e.sheets.actor.giftTooltip" name=item.name}}" data-roll="gift" data-item="{{item._id}}"><img src="systems/ironclaw2e/icons/gift-use.svg" width="24" height="24" /></a>{{/if}}
            </div>
            <div class="item-controls">
                {{#if item.data.exhaustWhenUsed}}<a class="rollable roll-item-change" title="{{#if item.data.exhausted}}{{localize "ironclaw2e.sheets.actor.refresh"}}{{else}}{{localize "ironclaw2e.sheets.actor.exhaust"}}{{/if}}" data-stat="exhausted" data-item="{{item._id}}"><span>{{#if item.data.exhausted}}{{localize "ironclaw2e.sheets.actor.exhausted"}}{{else}}{{localize "ironclaw2e.sheets.actor.refreshed"}}{{/if}}</span></a>{{/if}}
                <a class="rollable roll-item-change" title="{{#if item.data.showInBattleStats}}{{localize "ironclaw2e.sheets.actor.hideBattleTooltip" name=item.name}}{{else}}{{localize "ironclaw2e.sheets.actor.showBattleTooltip" name=item.name}}{{/if}}" data-stat="showInBattleStats" data-item="{{item._id}}"><span>{{#if item.data.showInBattleStats}}{{localize "ironclaw2e.sheets.actor.shown"}}{{else}}{{localize "ironclaw2e.sheets.actor.hidden"}}{{/if}}</span></a>
            </div>
            <div class="item-controls-small">
                <a class="item-control item-edit" title="{{localize "ironclaw2e.sheets.actor.gear.editItem"}}"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="{{localize "ironclaw2e.sheets.actor.gear.deleteItem"}}"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/each}}
    </ol>
    <ol class="items-list">
        <li class="item flexrow item-header">
            <div class="item-image"></div>
            <div class="item-name">{{localize "ironclaw2e.sheets.actor.gear.extraCareers"}}</div>
            <div class="item-controls">
                <a class="item-control item-create" title="{{localize "ironclaw2e.sheets.actor.gear.createItem"}}" data-type="extraCareer"><i class="fas fa-plus"></i> {{localize "ironclaw2e.sheets.actor.gear.addExtraCareer"}}</a>
            </div>
        </li>
        {{#each actor.extraCareers as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
            <h4 class="item-name double-clickable roll-double-info-item">{{item.name}}</h4>
            <div class="flexrow">
                <span class="small-text">{{item.data.careerSkill1}}, {{item.data.careerSkill2}}, {{item.data.careerSkill3}}</span>
            </div>
            <div class="item-controls-small flexrow">
                <span class="normal-label">Die:</span>
                <div></div>
                <input type="text" class="roll-career-dice-change" value="{{item.data.dice}}" data-item="{{item._id}}" data-dtype="String" onfocus="this.select();" />
            </div>
            <div class="item-controls-small">
                <a class="item-control item-edit" title="{{localize "ironclaw2e.sheets.actor.gear.editItem"}}"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="{{localize "ironclaw2e.sheets.actor.gear.deleteItem"}}"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/each}}
    </ol>
</div>