<div class="statuseffects">
    <div class="flexrow">
        <h3 class="header-label flexrow flex-center">{{localize "ironclaw2e.sheets.actor.status.title"}}</h3>
        <div class="rollable roll-effects-add flex-group-center flex-tight">
            <span class="normal-label">{{localize "ironclaw2e.sheets.actor.status.addEffect"}}</span>
        </div>
        <div class="rollable roll-effects-reset flex-group-center flex-tight">
            <span class="normal-label">{{localize "ironclaw2e.sheets.actor.status.resetEffects"}}</span>
        </div>
    </div>
    <ol class="items-list">
        <li class="item flexrow item-header">
            <div class="item-image"></div>
            <div class="item-name">{{localize "ironclaw2e.sheets.actor.status.effects"}}</div>
            <div class="item-controls-small">
            </div>
        </li>
        {{#each actor.effects as |effect id|}}
        <li class="item effect flexrow" data-effect-id="{{effect._id}}">
            <div class="item-image"><img src="{{effect.icon}}" title="{{effect.label}}" width="24" height="24" /></div>
            <h4 class="item-name double-clickable roll-double-info-cond">{{effect.label}}</h4>
            {{#if (conditionQuotaCheck effect)}}
            <div class="item-controls-small flexrow">
                <span class="normal-label">{{#if (conditionCheck effect "temporaryward")}}{{localize "ironclaw2e.sheets.actor.status.ward"}}{{else}}{{localize "ironclaw2e.sheets.actor.status.quota"}}{{/if}}</span>
                <div></div>
                <input class="roll-effects-quota-change" type="text" value="{{effect.flags.ironclaw2e.quota}}" data-id="{{effect._id}}" data-dtype="Number" onfocus="this.select();" />
            </div>
            {{/if}}
            <div class="item-controls-small">
                <a class="rollable roll-effects-delete" title="{{localize "ironclaw2e.sheets.actor.status.deleteEffect"}}" data-id="{{effect._id}}"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/each}}
    </ol>
</div>